<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      My Booking
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list inset *ngFor="let b of bookings | async">
    <ion-item ion-item  *ngIf="b.name == 'Hanafi'">
      <ion-icon name="alarm" item-left ></ion-icon>
      <h2 >Time : {{b.hour}}:00</h2>
      <p >{{b.date}}</p>
      <button ion-button color="danger" default item-right (click)="cancelConfirm(b.$key)">Cancel</button>
    </ion-item>    
  </ion-list>
</ion-content>